.block-logo-inner{
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    font-weight: 400;
    max-width: 1200px;
    padding: 30px 40px;
    position: relative;
}

.logo-flex{
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    flex-direction: row;
    padding: 0 -15px;
    justify-content: space-between;
}
.sec-left{
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
    margin: 0 15px;
}
.sec-left-inner{
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -5px -10px 0;
}
.logo-text-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 10px 0;
}