.banner-after-menu {
    box-sizing: border-box;
    display: flex;
    font-family: "Public Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 250px 0;
    /* background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    background-image: url("//res2.weblium.site/res/5dcebb6eb2b1b00022337fd8/5dd28d0a4208ed00223e2b67_optimized_1920.webp");
    /* linear-gradient( top,rgba(0, 0, 0,0.5), rgba(0, 0, 0, 0.5)) */
}

.cont-section-inner {
    box-sizing: border-box;
    display: block;
    font-weight: 300;
    max-width: 1200px;
    /* margin: 0 15px; !!! */
    padding: 0 24px;
    height: 500px;
    width: 100%;
}

.banner-sec {
    display: block;
    font-weight: 300;
}

.grid-banner {
    display: flex;
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid-banner-inner {
    display: flex;
    flex-basis: 75%;
    max-width: 75%;
    margin: 0 15px;
}

.content-grid {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
}

.info-text h2 {
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: left;
    font-size: 75px;
}

span.text-block {
    color: #fff;
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 90px;
    letter-spacing: -1.5px;
    line-height: 99px;
    font-weight: normal;
    position: relative;
    text-align: left;
}

span.info-text-subtitle {
    margin-top: 15px;
    color: #fff;
    display: block;
    font-family: Public Sans, sans-serif;
    font-weight: normal;
    font-size: 19px;
    text-align: left;
    line-height: 28.5px;
}

.grid-empty {
    display: flex;
    flex-basis: 25%;
    max-width: 25%;
    margin: 0 15px;
}

.button-banner {
    display: block;
    font-weight: 300;
    margin-top: 50px;
}

.grid-button-banner {
    display: flex;
    font-weight: 300;
    justify-content: left;
}

.grid-inner-button {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    margin: 0 -15px;

}

.grid-button-item {
    display: flex;
    padding: 0 15px;
}

.item-inner-button {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    text-align: left;
}

.item-group {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.btns-group-inner {
    display: block;
    margin: -10px;
    text-align: left;
    font-weight: 300;
    margin: -10px;
    align-items: left;
}

.button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 15.4px;
    font-stretch: 100%;
    margin: 10px;
    padding: 14px 43px;
    text-align: center;
    height: 53.6px;
    border: 2px solid #fff;
    border-radius: 5px;
    /* outline: none; */
}

button.red-but {
    background-color: #e93314;
    border-color: #e93314;
}

.tr-white-but {
    background-color: transparent;
}