.banner-after-menu {
    box-sizing: border-box;
    display: flex;
    font-family: "Public Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 250px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(//res2.weblium.site/res/5dcebb6eb2b1b00022337fd8/5dd28d0a4208ed00223e2b67_optimized_1920.webp);
}



.cont-section-inner {
    box-sizing: border-box;
    display: block;
    font-weight: 300;
    padding: 0 40px;
    margin: 0 18px;
    height: 500px;
    width: 100%;
}

.banner-sec {
    display: block;
    font-weight: 300;
}

.grid-banner {
    display: block;
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid-banner-inner {
    display: flex;
    flex-basis: 75%;
    max-width: 75%;
    margin: 0 15px;
}

.content-grid {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    text-align: left;
}

.info-text h2 {
    box-sizing: border-box;
    display: block;
    position: relative;
    text-align: left;
    font-size: 75px;
}

span.text-block {
    color: #fff;
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 90px;
    letter-spacing: -1.5px;
    line-height: 99px;
    font-weight: normal;
    position: relative;
    text-align: left;
}

span.info-text-subtitle {
    margin-top: 15px;
    color: #fff;
    display: block;
    font-family: Public Sans, sans-serif;
    font-weight: normal;
    font-size: 19px;
    text-align: left;
    line-height: 28.5px;
}

.grid-empty {
    display: flex;
    flex-basis: 25%;
    max-width: 25%;
    margin: 0 15px;
}


#two-buttons {
    margin-top: 50px;
}

.style-but-l {
    display: flex;
    flex: 1 1 767px;
    flex-direction: column;
    text-align: left;
}

.btns-group-inner-l {
    display: block;
    margin: -10px;
    text-align: left;
    font-weight: 300;
    margin: -10px;
    align-items: left;
}

.button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 15.4px;
    font-stretch: 100%;
    margin: 10px;
    padding: 14px 43px;
    text-align: center;
    height: 53.6px;
    border: 2px solid #fff;
    border-radius: 5px;
}

button.red-but {
    background-color: #e93314;
    border-color: #e93314;
}

.tr-white-but {
    background-color: transparent;
}

@media(max-width: 767px) {
    span.text-block {
        font-size: 60px;
        line-height: 99px;

    }

    .cont-section-inner {
        padding: 0 24px;
        margin: 0;
    }
}