.sl-logo {
    padding: 70px 0;
}

.slider {
    width: 100%;
    /* margin: 100px auto; */
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

@media(max-width:767px) {
.sl-logo {
    padding: 35px 0;
}
}


/* .slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .9;
}

.slick-current {
    opacity: 1;
} */