.collab {
    display: block;
}

.collab-inner {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 32px; */
    justify-content: flex-start;

}

.collab-item {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: center;
    flex-basis: 50%;
    width: 100%;
    /* padding: 0 15px; */
    font-family: "Public Sans",
        sans-serif;
}

.collab-item-inner {
    display: flex;
    background-image: url(/img/yellow_collab.png);
    flex-direction: column;
    text-align: left;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 120px 80px;
}

.icon_panel_collab {
    display: flex;
    text-align: left;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
}

.text-sub-collab p {
    margin-top: 20px;
}

p.text-sub-collab span {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
}

p.text-centre span {
    font-weight: 400;
    font-size: 50px;
    color: #fff;
}