.collab {
    display: block;
}

.collab-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.collab-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 50%;
    width: 100%;
    font-family: "Public Sans",
        sans-serif;
}

.collab-item-inner#orange {
    display: flex;
    background-image: url(/img/orange_collab.png);
    flex-direction: column;
    text-align: left;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 120px 80px;
}

.collab-item-inner#yellow {
    display: flex;
    background-image: url(/img/yellow_collab.png);
    flex-direction: column;
    text-align: left;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 120px 80px;
}

.icon_panel_collab {
    display: flex;
    text-align: left;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
}

p.text-sub-collab {
    margin-top: 20px;
}

p.text-sub-collab span {
    font-weight: 400;
    font-size: 19px;
    color: #fff;
}

p.text-centre span {
    font-weight: 400;
    font-size: 50px;
    color: #fff;
}

button.red-but#transparent-collab {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
}

@media(max-width:991px) {
    .collab-inner {
        flex-direction: column;
    }

    .collab-item-inner {
        padding: 60px 40px;
    }

    #collab-2 {
        margin-top: 20px;
    }
}

@media(max-width:500px) {
    p.text-centre span {
        font-weight: 400;
        font-size: 30px;
        color: #fff;
    }

    button.red-but#transparent-collab {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 5px;
        font-size: x-small;
    }

}