.table-box {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
}

.content-table {
    display: flex;
    padding: 24px ;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* .content-table::before::after{
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    pointer-events: none;
    border: 1px solid;
    color: inherit;
    opacity: .2;
} */

.button-subs {
    display: flex;
    justify-content: center;
    background-color: #F40106;
    border-style: none;
    border-radius: 7px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 24px;
    padding: 15px 26px;
    text-decoration-style: solid;
    text-align: center;
    line-height: 1.71;
    width: 100%;
}

.content-table img {
    height: 70px;
    width: 70px;
}

.item-table {
    border: 1px solid;
    color: inherit;
    opacity: .2;
    content: "";
    position: absolute;
}

#item-table {
    display: flex;
    padding: 0 15px;
    align-items: center;
}

#medio-t {
    font-size: 24px;
    font-weight: 600;
}

#small-t {
    font-size: 17px;
    font-weight: 300;
}

@media(max-width:767px) {
    .content-table {
        display: flex;
        padding: 24px;
        flex-wrap: wrap;
        flex-direction: column;
        /* text-align: center;
        align-items:center; */
        /* justify-content: space-between; */
    }

    #item-table {
        display: flex;
        padding: 10px 0;
        align-items: center;
        justify-content: space-around;
    }
}