.section-inner-drop {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.inner-header#form-sub-map {
    padding: 24px;
    width: 50%;
}

.global-section#drop {
    background-color: #f8f5f2;
}

.place-subs#style-label-drop {
    background-color: transparent;
    border: 2px solid #fff;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.box-sub-email#form-sub {
    margin-bottom: 24px;
    text-align: left;

}

span.box-sub-email {
    font-size: 17px;
    font-weight: 300;
}

.map {
    position: relative;
    width: 50%;
}

iframe {
    position: inherit;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

@media(max-width:767px) {
    .section-inner-drop {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    iframe {
        position: inherit;
        top: 0px;
        left: 0px;
        
        height: 100%;
    }
    .inner-header#form-sub-map {
        /* padding: 24px; */
        width: 100%;
    }
    .map {
        width: 100%;
    }
}