.form-email {
    background-color: rgb(255, 255, 255);
    display: flex;
     flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 105px 0px;
    width: 100%;
}

.inner-form-e {
    display: flex;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */
    padding: 0 40px;
    justify-content: space-around;
}

.item-promo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    flex-basis: 66.6%;
    padding: 0 15px;
}

.inner-item-promo {
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 44px;
    font-weight: 600;
    text-align: start;
}

.inner-item-promo p {
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 44px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}

p.sub-promo {
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    margin-top: 5px;
}

.item-email-group {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    flex-basis: 33.3%;
    text-align: center;
    justify-content: center;
    padding: 0 15px;
}
.form-subscribe {
    align-items: flex-end;
    flex-direction: column;
    display: flex;
    font-weight: 400;
    justify-content: space-evenly;
}
.box-sub-email{
    width: 100%;
}
.text-subs {
    display: flex;
    font-size: 14px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: "PT Sans", "Network resource";
}

.place-subs {
    display: block;
    border-style: none;
    border-radius: 7px;
    background-color: rgba(34, 35, 35, 0.12);
    cursor: text;
    margin-top: 12px;
    padding: 15px 26px;
    text-align: left;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 1.71;
    width: 100%;
    
}

.button-subs {
    display: flex;
    justify-content: center;
    background-color: #F40106;
    border-style: none;
    border-radius: 7px;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 24px;
    padding: 15px 26px;
    text-decoration-style: solid;
    text-align: center;
    line-height: 1.71;
     width: 100%;
    /* height: 50px;
    width: 180px; */
}

@media(max-width: 700px) {
    .inner-form-e {
        display: flex;
        flex-direction: column;
    }
    .form-subscribe{
        align-items:center;
         width: 100%;
    }
    .place-subs{
        width: 100%;
    }
}