body {
    display: block;
    margin: 0px;
    line-height: 1;
}

.collapse navbar-collapse .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}


.line {
    text-align: left;
    display: flex;
    padding: 0 15px;

}

.red-line {
    content: "";
    display: block;
    height: 2px;
    width: 16%;
    background-color: #e93314;
}

.block {
    display: block;
    padding: 60px 90px;
}

.inner-header {
    display: flex;
    justify-content: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* line-height: 30.6px; */
    text-align: center;
}

.section-content {
    display: block;
    margin-top: 45px;
}