:root {
    --red: #e93314;
    --white: #ffffff;
    --vanil: rgb(248, 245, 242);
    --text-dark: #333333;
}

body {
    display: block;
    margin: 0px;
    line-height: 1;
}

.collapse navbar-collapse .navbar-nav>li>a {
    color: rgb(0, 0, 0);
}


.line {
    text-align: left;
    display: flex;
    padding: 0 15px;

}

.red-line {
    content: "";
    display: block;
    height: 2px;
    width: 16%;
    background-color: var(--red);
}

.global-section {
    padding: 120px 0 60px;

}

.section-inner {
    padding: 0 40px;
    margin: 0 18px;
}

#small-text {
    font-size: 19px;

}

#big-text {
    font-size: 44px;
    font-weight: 600;
}