.inspired {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f8f5f2;
    font-stretch: 100;
    padding: 120px 0;
}

.section-inner-inspired {
    display: block;
    font-stretch: 100%;
    padding: 0 40px;
    margin: 0 20.8px;
}

.content-inspired {
    box-sizing: border-box;
    display: flex;
    margin-top: 50px;
}

.cont-section-inner-collection-inspired {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    justify-content: center;
}

.box-section-3-items-inspired {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
}

.box-section-ins {
    display: flex;
    margin: 0 -15px;
}

.collection-inner-block-ins {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 33.33%;
    padding: 0 15px;
    justify-content: center;
}

@media(max-width:767px) {
    .collection-inner-block-ins {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
    }

    .section-inner-inspired {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-stretch: 100%;
        padding: 0 40px;
        margin: 0;
    }
    .content-inspired {
        display: flex;
        margin-top: 50px;
    }
}

.picture-item-inspired {
    display: block;
}

picture.item-inspired {
    display: block;
    /* min-height: 32px; */
    max-width: 100%;
}

.group-captions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

span.text-offer-group {
    display: block;
    padding-right: 10px;
}

.text-offer-red {
    color: #e93314;
    display: block;
    font-size: 12px;
    font-family: "Public Sans",
        sans-serif;
    font-weight: 500;
}

.text-offer-black {
    color: #000000a6;
    display: block;
    font-size: 12px;
    font-family: "Public Sans",
        sans-serif;
    font-weight: 500;
}

span.box-subtitle-inspired {
    margin-top: 15px;
    display: block;
    font-weight: thin;
}

span.text-subtitle-inspired {
    color: #0d0d12cc;
    font-family: Public Sans, sans-serif;
    font-size: 23px;
    font-weight: 600;
    font-stretch: 100%;
    letter-spacing: normal;
    text-align: left;
    line-height: 30.6px;
}