.mission {
    display: block;
    font-stretch: 100;
    padding: 60px 0 120px;
}

.mission-inner {
    display: block;
    font-stretch: 100%;
    padding: 0 40px;
}


.text-title-mission {
    font-size: 50px;
    color: #1a1a1f;
    line-height: 1.3;
    font-family: Public Sans, sans-serif;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
    text-align: center;
}

.red-text {
    font-size: 50px;
    color: #e93314;
    font-family: Public Sans, sans-serif;
}

@media(max-width:767px) {
    .mission-inner {
        display: block;
        font-stretch: 100%;
        padding: 0 auto;
    }

    .text-title-mission {
        font-size: 30px;
    }

    .red-text {
        font-size: 30px;
    }
}