.container {
    max-width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 30px 40px;
    border-bottom: 3px solid var(--text-dark);

}

h1 {
    color: var(--text-dark);
    font-size: 38px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;

    border: none;
    user-select: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    border-radius: 3px;

    transform-origin: 0 0;
    /* color: #333333; */
    transition: 0.5s;
    background-color: var(--text-dark);
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--red);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 9px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);

}

.menu {
    display: none;

}