.cont-collection {
    background-color: rgb(248, 245, 242);
    display: block;
    padding: 90px 0;
    justify-content: center;
}

.cont-section-inner-collection {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    padding: 0 24px;
    width: 100%;
    justify-content: center;
}

.box-section {
    display: block;
}

.box-section-3-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

@media (max-width:990px) {
    .box-section-3-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .collection-inner-block-end {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;
        margin-top: 30px;
        font-weight: 300;
        justify-content: center;
        position: relative;
        flex-basis: 50%;
        max-width: 50%;
    }

    .collection-inner-block {
        display: flex;
        padding: 0 15px;
        font-weight: 300;
        justify-content: center;
        position: relative;
        flex-basis: 50%;
        max-width: 50%;
    }
}

.collection-inner-block-end {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    font-weight: 300;
    justify-content: center;
    position: relative;
    flex-basis: 50%;
    max-width: 50%;
}

.collection-inner-block {
    display: flex;
    padding: 0 15px;
    font-weight: 300;
    justify-content: left;
    position: relative;
    flex-basis: 50%;
    max-width: 50%;
}

.grid-collection {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    justify-content: center;
    margin: 0 -15px;
}

.icon-small img {
    height: 70px;
    width: 70px;
}

.titel-2 p {
    display: block;
    font-family: Public Sans, sans-serif;
    font-size: 28px;
    font-stretch: 100%;
    font-weight: 600;
    margin-top: 20px;
    text-align: left;
    line-height: 1.27;
}

span.box-title-2 {
    display: block;
    font-size: 28px;
    font-stretch: 100%;
    /* font-weight: 600; */
    text-align: left;
    color: #000;
}

span.text-title-2 {
    font-family: Public Sans, sans-serif;
    font-size: 28px;
    font-stretch: 100%;
    font-weight: 600;
    text-align: left;
    color: #000;
}

/* .box-red-line {
    display: flex;
    font-size: 17px;
    justify-content: flex-start;
    padding: 15px 0;
    text-align: left;
}

.red-line {
    content: "";
    color: #e93314;
    display: block;
    font-weight: 300;
    height: 2px;
    width: 16%;
    text-align: left;
} */

span.box-subtitle-title-2 p {
    display: block;
    font-weight: thin;
}

span.text-subtitle-title-2 {
    color: #0d0d12cc;
    font-family: Public Sans, sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-stretch: 100%;
    letter-spacing: normal;
    text-align: left;
    line-height: 30.6px;
}

.group-learn {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 26.25px;
}

.btns-group-inner {
    display: block;
    margin: -10px;
    text-align: left;
    font-weight: 300;
    margin: -10px;
    align-items: left;
}

.button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 15.4px;
    font-stretch: 100%;
    margin: 10px;
    padding: 14px 43px;
    text-align: center;
    height: 53.6px;
    border: 2px solid #fff;
    border-radius: 5px;
    /* outline: none; */
}

button.learn {
    background-color: transparent;
    text-align: center;
    color: #4c6386;
    margin: 0;
    border: 0;
    padding: 0;
}

span.arrow img {
    color: #4c6386;
    height: 24px;
    width: 24px;
}