.team {
    padding-top: 120px;
    padding-bottom: 60px;
}

.inner-team {
    padding: 0 15px;
    display: block;
    max-width: 100%;
}

.header-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span.header-team {
    color: black;
}

.items-team {
    margin-top: 45px;
    box-sizing: border-box;
    display: block;

}

.column-items-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-team {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 0 15px;
}

.item-team#inner {
    display: flex;
    flex-direction: column;
    border-top: 5px solid rgb(197, 0, 0);
    padding: 43px 27px;

}