.global-section {
    padding: 120px 0 60px;
    
}

.section-inner {
    padding: 0 40px;
    margin: 0 18px;
}

.inner-header {
    padding: 0 15px;
    display: block;
    max-width: 100%;
}

.content-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span.header-team {
    color: black;
}

#small-text {
    font-size: 19px;

}

#big-text {
    font-size: 44px;
    font-weight: 600;
}

.items-container {
    margin-top: 45px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.column-items-team {
    display: flex;
    flex: 1 1 767px;
    padding: 0 15px;
    justify-content: center;
}

.item-team {
    align-content: center;
    display: flex;
    margin: 0 7px;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-top: 5px solid rgb(197, 0, 0);
    border-radius: 7px;
    box-shadow: rgba(62, 65, 75, 0.1) 0px 6px 12px 0px 0 6px 12px 0 rgba(62, 65, 75, .1);
}

#inner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* border-top: 5px solid rgb(197, 0, 0);
    padding: 43px 27px; */
}

img#image-item {

    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.name-of-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

item-team#name-of-item #position #sub-item {
    display: flex;
    margin: 20px 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#name-of-item {
    font-size: 23px;
    font-weight: 600;
}

#position {
    color: #e93314;
    font-size: 12px;
    font-weight: 500;
}

#sub-item {
    font-size: 17px;
    font-weight: 300;
}

.social-icon-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0;
    justify-content: center;
}

#icon {

    height: 25px;
    width: 25px;
}


@media(max-width:768px) {
    .column-items-team {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        justify-content: center;
        align-items: center;
    }

    .items-team {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .global-section {
        padding: 90px 0 60px;
    }

    .section-inner {
        padding: 0 40px;
        margin: 0;
    }
}