.who-we-are {
    box-sizing: border-box;
    /* display: block;
    padding: 90px 0 50px;
    height: auto; */
    display: block;
    padding: 90px 0 50px;;
    justify-content: center;
}

.section-who-inner {
    box-sizing: border-box;
    display: block;
    font-weight: 300;
    max-width: 1200px;
    padding: 0 24px;
}

.who-content {
    /* box-sizing: border-box; */
    display: block;
    /* font-weight: 300; */
}

.box-who {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

@media (max-width: 990px) {
    .box-who {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
    }
}

.box-who-inner {
    display: flex;
    flex-wrap: wrap;
    line-height: 30.6px;
    margin: 0 -15px;
}

.item-who-top {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    padding: 0 15px;
}

.box-who-top {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.picture-who {
    box-sizing: border-box;
    display: block;
    text-align: left;
}
.pic-who{
    display:block;
    max-width: 100%;
    position: relative;
    text-align: left;
}

img.inner-pic-who {
    box-sizing: border-box;
    height: 750px;
    width: 670px;
    text-align: left;
    background-color: transparent;
}

.item-who-middle {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    padding: 0 15px;
}

@media (max-width: 767px) {
    .item-who-middle {
        margin-top: 50px;
    }
    img.inner-pic-who {
        box-sizing: border-box;
        height: 550px;
        width: 470px;
        text-align: left;
        background-color: transparent;
    }
}

@media (max-width: 470px) {
    img.inner-pic-who {
        box-sizing: border-box;
        height: 300px;
        width: 350px;
        text-align: left;
        background-color: transparent;
    }
}

.box-who-middle {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    text-align: left;
    padding: 0 20px;
}

p.before-sub {
    display: block;
    text-align: left;
    position: relative;
}
span.box-before-sub{
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 19px;
    letter-spacing: normal;
    line-height: 28.5px;
    font-weight: 400;
    text-align: left;
}

span.just-text{
    color: #000;
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 19px;
    letter-spacing: normal;
    line-height: 28.5px;
    font-weight: 400;
    text-align: left;
}