.who-we-are {
    box-sizing: border-box;
    display: flex;
    padding: 90px 0 50px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-who-inner {
    box-sizing: border-box;
    display: block;
    font-weight: 300;
    padding: 0 40px;
}

.who-content {
    display: block;
}

.box-who {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}



.box-who-inner {
    display: flex;
    flex-wrap: wrap;
    line-height: 30.6px;
    margin: 0 -15px;
}


.item-who-top {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    /* padding: 0 15px; */
    flex-basis: 50%;
    max-width: 50%;
}


.box-who-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.picture-who {
    box-sizing: border-box;
    display: block;
    text-align: left;
}

.pic-who {
    display: block;
    max-width: 100%;
    position: relative;
    text-align: left;
}

img.inner-pic-who {
    box-sizing: border-box;
    max-width: inherit;
    text-align: left;
    object-fit: cover;
    object-position: 23.346% 50%;
    background-color: transparent;
}

.box-who-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    text-align: left;
    padding: 0 20px;
}

p.before-sub {
    display: block;
    text-align: left;
    position: relative;
}

span.box-before-sub {
    display: block;

}

span.just-text {
    color: #000;
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 19px;
    letter-spacing: normal;
    line-height: 28.5px;
    font-weight: 400;
    text-align: left;
}

p.title-who {
    display: block;
    position: relative;
}

span.box-title-who {
    display: block;
}

span.text-title-who {
    color: #000;
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 38px;
    letter-spacing: normal;
    line-height: 49.4px;
    font-weight: 600;
    text-align: left;
}

p.subtitle-who {
    display: block;
    position: relative;
}

span.box-subtitle-who {
    display: block;
}

span.text-subtitle-who {
    color: #000;
    display: block;
    font-family: "Public Sans", sans-serif;
    font-size: 17px;
    letter-spacing: normal;
    line-height: 30.6px;
    font-weight: 300;
    text-align: left;
}

.tr-red-but {
    background-color: transparent;
    color: #e93314;
    border: 2px solid #e93314;
}


.item-who-middle {
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    /* padding: 0 15px; */
    justify-content: flex-end;
}


@media (max-width: 470px) {
    img.inner-pic-who {
        box-sizing: border-box;
        max-width: inherit;
        text-align: left;
        background-color: transparent;
    }
}

@media (max-width: 767px) {
    .item-who-middle {
        margin-top: 50px;
        max-width: 100%;
    }

    img.inner-pic-who {
        box-sizing: border-box;
        max-width: inherit;
        text-align: left;
        background-color: transparent;
    }

    .item-who-top {
        max-width: 100%;
    }

    .box-who-inner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .section-who-inner {
        padding: 0 auto;
    }
    
}

@media (max-width: 990px) {
    .box-who {
        display: flex;
        justify-content: center;
    }
}